@model SBMS.Models.ProductAddVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <div id="productSetup" class="container text-center">
        <h3>Product Setup</h3>
        <br />
        <div class="row">
            <div class="col-md-12" style="background:azure">

                <div class="row">
                    <div class="col-sm-2" style="padding:1px">
                        <a href="http://localhost:3706/product/add"><input type="button" name="Add" value="Add Product" /></a>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("Search", "Product"))
        {



            <div class="row">

                <div class="col-md-12" style="background: black"></div>
                <div class="col-md-12" style="background: aquamarine"></div>


                <div class="col-md-12" style="background:azure">

                    <div class="row" style="padding: 1%">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(c => c.Code, "Enter product code", new { @class = "form-group", style = "width:100%" })
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" name="Search" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="background: black"></div>
            <div class="col-md-12" style="background: aquamarine"></div>




        }


        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align:center">Sl.</th>
                    <th style="text-align:center">Product Code</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Reorder Level</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (var c in Model.Products)
                    {
                        <tr>
                            <td style="text-align:center">@(i = i + 1)</td>
                            <td>@c.Code</td>
                            <td>@c.Name</td>
                            <td>@c.ReorderLevel</td>
                            <td>@c.Description</td>
                            <td style="text-align:center">
                                @Html.ActionLink("Edit", "Edit", "product", new { Id = c.Id }, null)
                                |
                                @Html.ActionLink("Delete", "Delete", "product", new { Id = c.Id }, null)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
    </div>

</div>
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
