@model SBMS.Models.SupplierVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <div id="supplierSetup" class="container text-center">
        <h3>Supplier Entry Form</h3>
        <br />
        <div class="row">           
            <div class="col-md-12" style="background:azure">

                <div class="row">
                    <div class="col-sm-2" style="padding:1px">
                        <a href="http://localhost:3706/Supplier/Search"><input type="button" name="Show" value="Show All Supplier" /></a>
                    </div>                   
                </div>
            </div>            
        </div>
        <div>
            @using (Html.BeginForm("Add", "Supplier"))
            {

                <div class="row" >
                   
                    <div class="col-md-12" style="background: black"></div>
                    <div class="col-md-12" style="background: aquamarine"></div>


                    <div class="col-md-12" style="background:azure">

                        <div class="row" style="padding: 0.5px">
                            <div class="col-sm-4">@Html.LabelFor(c => c.Code, null, new { @class = "form-group", color = "aquamarine" })</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(c => c.Code, "Enter Product code", new { @class = "form-group", style = "width:100%" })
                                @Html.ValidationMessageFor(c => c.Code, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row" style="padding: 0.5px">
                            <div class="col-sm-4">@Html.LabelFor(c => c.Name, null, new { @class = "form-group", color = "aquamarine" })</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(c => c.Name, "Enter Product Name", new { @class = "form-group", style = "width:100%" })
                                @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row" style="padding: 0.5px">
                            <div class="col-sm-4">@Html.LabelFor(c => c.Address, null, new { @class = "form-group", color = "aquamarine" })</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(c => c.Address, "Enter Product ReorderLevel", new { @class = "form-group", style = "width:100%" })
                                @Html.ValidationMessageFor(c => c.Address, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row" style="padding: 0.5px">
                            <div class="col-sm-4">@Html.LabelFor(c => c.Email, null, new { @class = "form-group", color = "aquamarine" })</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(c => c.Email, "Enter Product Description", new { @class = "form-group", style = "width:100%" })
                                @Html.ValidationMessageFor(c => c.Email, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row" style="padding: 0.5px">
                            <div class="col-sm-4">@Html.LabelFor(c => c.Contact, null, new { @class = "form-group", color = "aquamarine" })</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(c => c.Contact, "Enter Product Description", new { @class = "form-group", style = "width:100%" })
                                @Html.ValidationMessageFor(c => c.Contact, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="row" style="padding: 0.5px">
                            <div class="col-sm-4">@Html.LabelFor(c => c.ContactPerson, null, new { @class = "form-group", color = "aquamarine" })</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(c => c.ContactPerson, "Enter Product Description", new { @class = "form-group", style = "width:100%" })
                                @Html.ValidationMessageFor(c => c.ContactPerson, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        
                        <div class="row" style="padding: 2px">
                            <div class="col-sm-4">

                                <div class="col-md-12">
                                    <div>
                                        @if (ViewBag.SuccessMsg != null)
                                        {
                                            <p style="color: green">@ViewBag.SuccessMsg</p>
                                        }
                                        @if (ViewBag.FailedMsg != null)
                                        {
                                            <p style="color: red">@ViewBag.FailedMsg</p>
                                        }
                                        @if (ViewBag.ValidationMsg != null)
                                        {
                                            <p style="color: yellow">@ViewBag.ValidationMsg</p>
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-8"><input type="submit" name="Add" value="Add Supplier" /> </div>

                        </div>
                    </div>
                    <div class="col-md-12" style="background: black"></div>
                    <div class="col-md-12" style="background: aquamarine"></div>


                </div>




            }

        </div>
    </div>
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
