@model SBMS.Models.CategoryAddVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div>
    @if (ViewBag.SuccessMsg != null)
    {
        <h1>@ViewBag.SuccessMsg</h1>
    }
    @if (ViewBag.FailedMsg != null)
    {
        <h1>@ViewBag.FailedMsg</h1>
    }
    @if (ViewBag.ValidationMsg != null)
    {
        <h1>@ViewBag.ValidationMsg</h1>
    }
</div>


<div>
    @using (Html.BeginForm("Add", "Category"))
    {
        @Html.LabelFor(c => c.Code, null, new { })
        @Html.TextBoxFor(c => c.Code, "Enter category code", new { })
       // @Html.ValidationMessageFor(c => c.Code,null,new {@class="text-danger"})

        @Html.LabelFor(c => c.Name, null, new { })
        @Html.TextBoxFor(c => c.Name, "Enter category code", new { })
       // @Html.ValidationMessageFor(c => c.Name)

        <input type="submit" name="Add" value="Submit" />
    }

</div>
@*@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}*@
